{% extends "::LayoutAdmin/layout.html.twig" %}

  
{% block biens %}

<h3>
Liste des biens
</h3>
 <div class="container">

  
 <div class="table-responsive "> 
<table class="table table-bordred table-striped table-inverse display" id="myTable">
<thead>
<tr>
    <th>N° </th>
<th>Nom Bien</th>
<th>Etat</th>

<th>Description</th>
<th>Localite</th>
<th>Type</th>
<th>Proprietaire</th>
<th>Détails</th>
</tr>
</thead>
<tbody>
{%for bien in reservations%}
<tr>
<td>

</td>

<td>{{bien.nomBien}}</td>
<td><a href="{{path('disponibilite',{'id':bien.id})}}">
{%if bien.etat == 1%}
Occupé
{% else %}
Disponible
{% endif%}
</a></td>
<td>{{bien.description}}</td>


<td>{{bien.Localite.libelle }}</td>
<td>{{bien.Type.libelle}}</td>

<td>{{bien.Proprietaire.numeroPiece}}</td>
<td><a href="{{path('detailBien',{'id':bien.id})}}">Détails</a></td>
<td></td>
</tr>

{%else%}
<td colspan="6">Aucun utilisateur</td>

{%endfor%}
</tbody>
</table>
</div>

</div>
 

{% endblock %}