{% extends "::LayoutAdmin/layout.html.twig" %}
 {% block form %}
 
 <h1 class="my-4 list-group-item">Recherche de bien</h1>
<div class="form-group list-group-item">


</div>
  {% endblock %}
{% block biens %}

 <div id="bien">
<h3>
Liste des reservations
</h3>
 <div class="container">

  
 <div class="table-responsive "> 
<table class="table datatable table-bordred table-striped table-inverse display" id="example">
<thead>
<tr>
    <th>N° </th>
<th>Nom client</th>
<th>Etat</th>

<th>Date de reservation</th>
<th>Nom du bien</th>
<th>Localite</th>
<th>Proprietaire</th>
<th>Détails</th>
</tr>
</thead>
<tbody>
{% for reserve in reservations %}
<tr>
<td>


</td>

<td>{{reserve.Client.Prenom}} {{reserve.Client.Nom}}</td>
<td><a href="{{path('contrat',{'id':reserve.id,'bien':reserve.Bien.id})}}">
{% if reserve.etat == 1 %}
Validée
{% else %}
Non validée
{% endif %}
</a></td>
<td>{{reserve.dateDeReservation}}</td>


<td>{{reserve.Bien.nomBien }}</td>
<td>{{reserve.Bien.Localite.Libelle}}</td>

<td>{{reserve.Bien.Proprietaire.Prenom}} {{reserve.Bien.Proprietaire.Nom}}</td>
<td><a id="mi" href="#">Détails</a></td>
<td></td>
</tr>

<td colspan="6">Aucun utilisateur</td>

{% endfor %}
</tbody>
</table>
</div>

</div>
 </div>

{% endblock %}