<!DOCTYPE html  >
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <style>
.fa-angle-right{

    float:right;

}
</style>
  <link rel="stylesheet" href="{{ asset('style/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/shop-homepage.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
              
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}




        {% block javascripts %}
 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/FrontQuery.js') }}"></script>

      
  <script>
  $( function() {
    var tabs = $( "#tabs" ).tabs();
    tabs.find( ".ui-tabs-nav" ).sortable({
      axis: "x",
      stop: function() {
        tabs.tabs( "refresh" );
      }
    });
  } );
  

  // Ici, le DOM est entièrement défini



 </script>
        {% endblock %}
    </body>
</html>

